/out/
/.idea/
/docker/volume/ssr/data/*
!/docker/volume/ssr/data/.gitkeep
/docker/volume/ssr/log/*
/docker/volume/ssr/log/.gitkeep
/docker/volume/ssr/secrets/*
/docker/volume/ssr/secrets/.gitkeep
/docker/volume/mdb/data/*
/docker/volume/mdb/data/.gitkeep
/proto.sql
/proto.csv
/test_common.cpp
/test_common.h
/test_odbc.txt
/book1.csv
/aaa.bat
/database.sqlite3
/pc.csv
/procedure_test.cpp
/uploader.cpp
/database_config.h.in